@model IEnumerable<CPMS.Models.Review>

@{
    ViewData["Title"] = "Review Comments";
}

<table class="table">
    <thead>
        <tr>
            @* Display names for each column *@
            <th>
                @Html.DisplayNameFor(model => model.ReviewerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContentComments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WrittenDocumentComments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PotentialForOralPresentationComments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OverallRatingComments)
            </th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model) {

        @* Display data for each field in model *@
        <tr>
            <td>
                @*@Html.DisplayFor(modelItem => item.ReviewerID) *@
                <a asp-controller="Reviewers" asp-action="Details" asp-route-id="@item.ReviewerID">Reviewer Details</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContentComments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WrittenDocumentComments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PotentialForOralPresentationComments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OverallRatingComments)
            </td>
        </tr>
}
    </tbody>
</table>
